name: Mi_Primer_Despliegue
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Ejecutar comando en Debian
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            echo "¡Hola desde GitHub Actions!" > ~/hola_mundo.txt
            echo "El despliegue automático funcionó."
